<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">HCM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_menu=='home' }}" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_menu=='complaint' }}" href="{{ url_for('complaint') }}">Add complaint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_menu=='complaints' }}" href="{{ url_for('complaints') }}">Complains list</a>
        </li>
    </div>
  </nav>